.page-body {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.outer-container {
    min-width: 1200px;
    width: 100%;
}

.inner-container {
    width: 1160px;
    margin: auto;
}

.page-btn {
    display: inline-block;
    vertical-align: top;
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: #fff;
    padding: 24px 0;
    border-radius: 4px;
}

.section__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #4E4E4E;
}

.section__title::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
}

/* Header */
.page-header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(94, 93, 88, 0.6);
    font-weight: 700;
}
/* Header nav*/
.header__nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex-grow: 2;
}

.header__logo-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.header__logo-icon {
    display: inline-block;
    vertical-align: middle;
    width: 58px;
    height: 67px;
    padding: 18px 13px;
    color: #fff;
    background: url('../images/header/header-logo.png') center no-repeat;
    font-size: 40px;
    line-height: 31px;
}

.header__logo-text {
    display: inline-block;
    vertical-align: middle;
}

.white-color__normal-weight {
    font-weight: 400;
    color: #fff;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu__item-link {
    margin-right: 21px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header__menu__item-link:hover {
    color: #18CFAB;
    transition: color, .2s;
}

.search-icon {
    width: 21px;
    height: 20px;
    background: url('../images/header/search-icon.png') top no-repeat;
}
/* Main */

/* Home */
.home {
    width: 100%;
    height: 100vh;
    background: url('../images/header/header-background.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__text {
    margin-top: 100px;
}

.home__suptitle {
    font-size: 35px;
    font-weight: 700;
}

.home__title {
    font-size: 78px;
    margin-top: 22px;
}

.home__subtitle {
    display: block;
    text-transform: none;
    font-size: 34px;
    font-weight: 400;
    color: #D4D4D4;
    margin-top: 22px;
}

.green-color {
    color: #18CFAB;
}

.home__button {
    margin: 122px 26px 0 0;
    position: relative;
}

.home__button:nth-child(2)::before {
    content: "explore now";
    background-color: #00CBF6;
    border: none;
}

.before-for-btns::before {
    content: "purchase now";
    display: block;
    background-color:#18CFAB;
    border-radius: 4px;
    width: 169px;
    height: 63px;
    position: absolute;
    top: 3px;
    padding-top: 22px;
}

/* Options */

.options__list {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #18CFAB;
    display: flex;
    justify-content: center;
}

.options__item {
    flex-grow: 1;
    height: 360px;
    text-align: center;
    background-color: #1C2A33;
    padding-top: 87px;
}

.options__item:nth-child(even) {
    background-color: #18CFAB;
    color: #fff;
    padding-top: 98px;
}

.options__item-title {
    display: block;
    margin-top: 50px;
}

.options__item:nth-child(even) .options__item-title {
    margin-top: 60px;
}

/* service */
.service {
    height: 574px;
    padding-top: 92px;
}

.service__title {
    text-align: center;
    margin-bottom: 67px;
}

.service__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 67px;
}

.service__tabs::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
    position: absolute;
    left: 48%;
    top: -88px;
}

.service__tabs-title {
    width: 190px;
    height: 70px;
    padding: 27px 0 0 0;
    text-align: center;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
    cursor: pointer;
}

.service__tabs-active {
    background-color: #18CFAB;
    border-color: #18CFAB;
    color: #fff;
    position: relative;
}

.service__tabs-active::after {
    content: "";
    border: 13px solid transparent;
    border-top: 13px solid #18CFAB;
    position: absolute;
    top: 100%;
    left: 80px;
}

.service__tabs-content-item {
    display: none;
    margin: 20px 0 0 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.service__tabs-content__item__img {
    float: left;
    margin-right: 13px;
}

/* purchase */
.purchase {
    height: 477px;
    text-align: center;
    background-image: url('../images/purchase/purchase-background.jpg');
    background-size: cover;
    padding-top: 126px;
}

.purchase__title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color:#18CFAB;
}

.purchase__subtitle {
    display: block;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
}

.purchase__btn {
    margin-top: 62px;
    position: relative;
}

/* work */

.work {
    background-color: #E9EDEF;
    /* height: 1212px; */
    text-align: center;
    padding-top: 80px;
}

.work__tabs {
    width: 580px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px auto 70px !important;
    position: relative;
}

.work__tabs::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
    position: absolute;
    left: 46%;
    top: -86px;
}

.work__tabs__list-item {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    color: #717171;
    padding: 10px 15px;
    flex-grow: 1;
    border: 1px solid #DADADA;
}

.work__tabs__list-item:first-child {
    padding: 10px 25px;
}

.grid-mod {
    display: none;
    grid-template-rows: 205px;
    grid-template-columns: repeat(4, 285px);
    justify-content: center;
}

.work__tabs-active {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.load-more {
    background: url(../images/work/load-more-icon.png) 15% no-repeat  #18CFAB;
    text-align: right;
    padding: 0 20px;
    font-size: 14px;
    line-height: 68px;
    margin: 70px auto 100px;
}

.hover-mod {
    position: relative;
}

.work__hover {
    position: absolute;
    background-color: #E9EDEF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 25px;
    border-top: 6px solid #18CFAB;
    padding-top: 45px;
    opacity: 0;
}

.work__circle {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-size: cover;
}

.left__circle {
    background: url('../images/work/circle-icon.png') center no-repeat;
    content: url(../images/work/chain.png);
    object-fit: none;
}

.right__circle {
    background: url('../images/work/circle-icon-green.png') center no-repeat;
    content: url(../images/work/square.png);
    object-fit: none;
}

.work__hover-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#18CFAB;
    display: block;
    margin-top: 25px;
}

.work__hover-subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
}

/* news */
.news {
    text-align: center;
    padding-top: 85px;
}

.news__img__list {
    display: grid;
    grid-template-rows: 295px;
    grid-template-columns: repeat(4, 265px);
    grid-gap: 45px 35px;
    justify-content: center;
    text-align: left;
    position: relative;
    margin: 65px 0 130px !important;
}

.news__img__list::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
    position: absolute;
    left: 48%;
    top: -86px;
}

.news__img__list-item {
    position: relative;
}

.news__img__list-item-link:hover .news__img-title{
    transform: translateX(10px);
    color: #18CFAB;
    transition: .3s;
}

.news__img__list-item-link:hover .news__img__list-item__target {
    background-color: #18CFAB;
    transition: .3s;
}

.news__img__list-item__target {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: #203E38;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding: 10px 5px;
}

.day {
    display: block;
}

.news__img-title {
    font-size: 18px;
    color: #717171;
    margin: 14px 0 0 15px;
}

.news__img-subtitle {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    margin: 15px 0 0 18px;
}

.news__img-subtitle-part::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    background-color:#777777;
    width: 1px;
    height: 15px;
    margin: 0 15px;
    transform: translateY(2px);
    top: 5px;
}

/* feedback */

.feedback {
    height: 860px;
    padding-top: 100px;
    text-align: center;
    background: url(../images/feedback/feedback-background.jpg) center no-repeat;
    background-size: cover;
    color: #BBBBBB;
}

.feedback__title {
    color: #fff;
}

.user-desc {
    margin: 70px 0 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
}

.user-desc::before {
    content: url('../images/feedback/quotes.png');
    object-fit: cover;
    position: absolute;
    top: -70px;
    left: calc(50% - 25px);
}

.user-name {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 27px;
    color: #18CFAB;
    margin-top: 40px;
}

.user-pos {
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 20px;
}

.photo-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    height: 165px;
    padding: 10px;
    background: url(../images/feedback/border-for-photo.png) center no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.slider {
    position: relative;
    margin-top: 65px !important;
}

.slider::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
    position: absolute;
    left: 48%;
    top: -86px;
}

.slider-nav {
    width: 420px;
    margin: 50px auto 0 !important;
}

.slider-nav__item {
    height: 100px;
    background: url('../images/feedback/border-for-photo.png') center no-repeat;
    background-size: 70px 70px;
    padding: 20px 23px;
}

.slider-nav__item:hover {
    transform: translateY(-15px);
    transition: .3s;
}

/* gallery */
.gallery {
    text-align: center;
    padding-top: 110px;
}

.gallery__container {
    height: 961px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    margin-top: 90px !important;
    position: relative;
}

.gallery__container::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #18CFAB;
    margin: 24px auto 0;
    position: absolute;
    left: 48%;
    top: -111px;
}

.gallery__item {
    margin-bottom: 20px;
}

.gallery__grid {
    width: 364px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__grid__small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gallery__grid__small__item {
    justify-self: end;
}

.gallery-btn {
    margin-top: 50px 0 67px;
}

/* footer */
.page-footer {
    height: 120px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    background-color: #22353F;
    color: #AEAEAE;
    padding: 48px;
}

.page-footer__text-part {
    color: #18CFAB;
}
/* ======active====== */
.active {
    display: block;
}

.active-grid {
    display: grid;
}
/* ================= */
